@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: black;
}

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    max-width: 100%;
    margin: 0 auto;
    height: 715px;
}

#hambarger {
    display: none;
    color: rgb(255, 255, 255);
}

.menu-bar {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar .logo {
    font-size: 2.1rem;
    color: rgb(230, 83, 60);
}

.menu-bar ul {
    display: flex;
    justify-content: center;
    padding: 0.7rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.menu-bar ul>li {
    list-style-type: none;
}

.menu-bar ul>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0.8rem;
}

.manu-btn {
    background: rgb(230, 83, 60);
    padding: 0.7rem 2rem;
    border-radius: 46px;
}

.header-bar {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-content {
    max-width: 50%;
}

.header-content h2 {
    font-size: 4.8rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.header-content p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    font-weight: 400;
}

.join-btn {
    font-size: 1rem;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    padding: .8rem 1.4rem;
    border-radius: 50px;
}

.download-btn {
    font-size: 1rem;
    background-color: rgb(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    border: none;
    padding: .8rem 1.4rem;
    border-radius: 50px;
    margin-left: 1rem;
}

.header-image {
    max-width: 50%;
    position: relative;
}

.work-out {
    height: 98px;
    width: 193px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    top: 25%;
    left: 70%;
}

.work-out h2 {
    font-size: 2.3rem;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    font-weight: 900;
    margin-left: 10%;
    margin-bottom: 0;
}

.work-out p {
    font-size: 0.8rem;
    color: rgb(255, 255, 255, 0.5);
    margin-top: 2%;
    font-weight: 400;
    margin-left: 10%;
    margin-bottom: 0;
}

.video-tutorial {
    height: 98px;
    width: 193px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    top: 70%;
    left: -40%;
    display: flex;
    align-items: center;
}

.shape {
    height: 45px;
    width: 45px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-left: 10%;
}

.video-tutorial-text {
    margin-left: 5%;
}

.video-tutorial-text h2 {
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    margin-top: 5%;
    margin-bottom: 0;
    font-weight: 900;
}

.video-tutorial-text p {
    color: rgb(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
}

/* habit section start here */
.habit-section h2 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.habit-section h5 {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 2%;
}

.habit-items {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    margin-top: 5%;
}

.habit-item img {
    width: 90%;
    border-radius: 50%;
    align-items: center;
    margin-left: 5%;
}

.habit-item h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.habit-item p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2%;
}

/* habit section start end */

/* run extra mile start here */

.run-extra-mile {
    width: 80%;
    height: 371px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}

.run-section {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.run-text {
    max-width: 50%;
    margin-top: 2%;
}

.run-text h2 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.run-text p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);

}

.run-text button {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.img-section {
    max-width: 50%;

}

.img-section img {
    max-width: 80%;
    margin-top: 8%;
    margin-left: 18%;
    border-radius: 3%;
}

/* run extra mile start end */

/* traning section start */

.traning-section {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 8%;
}

.traning-section-text h2 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.traning-section-text p {
    font-size: 0.8rem;
    color: rgb(255, 255, 255, 0.5);
    margin-bottom: 5%;
}

.item1 {
    background-image: linear-gradient(180.00deg, rgb(116, 231, 145), rgba(84, 131, 78, 0) 150%), url("../images/exercise1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}

.item2 {
    background-image: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 119, 198, 0.185)), url("../images/exercise2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}

.item3 {
    background-image: linear-gradient(rgba(32, 28, 28, 0.5), rgba(39, 36, 36, 0.5)), url("../images/exercise3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}

.item4 {
    background-image: linear-gradient(rgba(32, 28, 28, 0.5), rgba(39, 36, 36, 0.5)), url("../images/exercise4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}

.item5 {
    background-image: linear-gradient(rgba(104, 255, 99, 0.5), rgba(143, 250, 93, 0.5)), url("../images/exercise5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}

.item6 {
    background-image: linear-gradient(rgba(64, 203, 245, 0.5), rgba(45, 210, 252, 0.5)), url("../images/exercise6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}

.traning-items1 {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr 1fr;
}

.traning-items2 {
    display: grid;
    grid-template-columns: 1.25fr 1fr 0.75fr;
}

.item1 p {
    position: absolute;
    top: 60%;
    left: 5%;
}

.item2 p {
    position: absolute;
    top: 5%;
    left: 5%;
    color: rgb(255, 255, 255);
}

.item3 p {
    position: absolute;
    top: 60%;
    left: 5%;
    color: rgb(255, 255, 255);
}

.item4 p {
    position: absolute;
    top: 5%;
    left: 55%;
    color: rgb(255, 255, 255);
}

.item5 p,
.item6 p {
    position: absolute;
    top: 60%;
    left: 5%;
    color: rgb(255, 255, 255);
}

.block-text {
    display: none;
}

/* traning section end */

/* table section start */
.bmi-para-2 {
    display: none;
}

.bmi-section {
    max-width: 100%;
    margin-top: 5%;
}

.bmi-section h3 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-left: 25%;
    margin-bottom: 0;
}

.bmi-section p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-left: 25%;
    margin-top: 2%;
}

.bmi-content {
    max-width: 100%;
    /* background: rgba(54, 53, 53, 0.1); */
    background: rgb(34, 34, 34);
    margin-top: 5%;
}

.bmi-items {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.bmi-table {
    width: 35%;
}

.bmi-table h3 {
    font-size: 2rem;
    text-align: left;
    margin-left: 0;
}

table,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
}

table {
    margin-top: 5%;
}

table th {
    color: rgb(255, 255, 255);
}

table td {
    color: rgba(255, 255, 255, 0.5);
}

.bmi-input-fild {
    width: 50%;
    margin-top: 3%;
}

.bmi-input-fild h2 {
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-bottom: 0;
}

.bmi-input-fild p {
    margin-left: 0;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-input-fild input {
    width: 40%;
    padding: 1rem;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 2%;
    border: none;
    background: rgba(54, 53, 53, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}

.bmi-input-fild select {
    width: 46%;
    padding: 1rem;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 2%;
    border: none;
    background: rgba(54, 53, 53, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}

#factor-input {
    width: 94%;
    padding: 1rem;
    margin-left: 5px;
    border-radius: 10px;
    margin-top: 2%;
    border: none;
    background: rgba(54, 53, 53, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}

.btn-cal {
    margin-top: 4%;
    background: rgb(230, 83, 60);
    border: none;
    padding: 1rem 5rem;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 0.95rem;

}

/* table section end */

/* team section start */
.team-section {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 8%;
}

.team-section h3 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.team-section p {
    font-size: 0.8rem;
    color: rgb(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0;
}

.image-section {
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 8%;
}
.image-section1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3%;
    margin-top: 5%;
}
.image-section2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 3%;
    margin-top: 5%;
}
.traning-card1{
    background-image: linear-gradient(rgba(39, 28, 28, 0.3), rgba(32, 29, 31, 0.185)), url("../images/trainer1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 90%;
    height: 272px;
    border-radius: 18px;
    margin-top: 5%;
    position: relative;
}
.traning-card2{
    background-image: linear-gradient(rgba(39, 28, 28, 0.3), rgba(32, 29, 31, 0.185)), url("../images/trainer2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 90%;
    height: 272px;
    border-radius: 18px;
    margin-top: 5%;
    position: relative;
}
.traning-card3{
    background-image: linear-gradient(rgba(39, 28, 28, 0.3), rgba(32, 29, 31, 0.185)), url("../images/trainer3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 90%;
    height: 272px;
    border-radius: 18px;
    margin-top: 5%;
    position: relative;
}
.traning-card4{
    background-image: linear-gradient(rgba(39, 28, 28, 0.3), rgba(32, 29, 31, 0.185)), url("../images/trainer4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 90%;
    height: 272px;
    border-radius: 18px;
    margin-bottom: 5%;
    position: relative;
}
.traning-card5{
    background-image: linear-gradient(rgba(39, 28, 28, 0.3), rgba(32, 29, 31, 0.185)), url("../images/trainer5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 90%;
    height: 272px;
    border-radius: 18px;
    margin-bottom: 5%;
    position: relative;
}
.traning-card6{
    background-image: linear-gradient(rgba(39, 28, 28, 0.3), rgba(32, 29, 31, 0.185)), url("../images/trainer6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 90%;
    height: 272px;
    border-radius: 18px;
    margin-bottom: 5%;
    position: relative;
}
.traning-card1 h4,
.traning-card2 h4,
.traning-card3 h4,
.traning-card4 h4,
.traning-card5 h4,
.traning-card6 h4{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 70%;
    left: 5%;
}
.traning-card1 p,
.traning-card2 p,
.traning-card3 p,
.traning-card4 p,
.traning-card5 p,
.traning-card6 p{
    color: rgb(255, 255, 255, 0.5);
    position: absolute;
    top: 85%;
    left: 5%;
}
/* team section end */

/* mobile responsive */
@media screen and (max-width:576px) {
    .menu-bar ul {
        display: none;
    }

    #hambarger {
        font-size: 2rem;
        display: block;
    }

    .header-bar {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }

    .header-content {
        max-width: 100%;
    }

    .header-button {
        display: flex;
        justify-content: space-around;
    }

    .habit-section {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 180%;
    }

    .habit-items {
        grid-template-columns: 1fr;
    }

    .run-extra-mile {
        max-width: 90%;
        margin: 0 auto;
        margin-top: 30%;
        height: 550px;
    }

    .run-section {
        flex-direction: column;
    }

    .run-text {
        max-width: 100%;
        margin-left: 5%;
    }

    .img-section {
        max-width: 100%;
    }

    .img-section img {
        max-width: 90%;
        margin-left: 5%;
    }

    .item3,
    .item6 {
        display: none;
    }

    .traning-section {
        max-width: 80%;
        margin: 0 auto;
    }

    .traning-items1 {
        grid-template-columns: 1fr 1fr;
    }

    .traning-items2 {
        grid-template-columns: 0.75fr 1.25fr;
    }

    .para {
        display: none;
    }

    .block-text {
        display: block;
        color: rgb(255, 255, 255);
    }

    /* start here */
    .bmi-section h3 {
        font-size: 1.5rem;
        margin-left: 12px;
    }

    .bmi-section p {
        font-size: .8rem;
        margin-left: 0px;
    }

    .bmi-items {
        flex-direction: column;
    }

    .bmi-table {
        width: 80%;
        margin-left: 0;
    }

    .bmi-table h3 {
        font-size: 1.5rem;
    }

    .bmi-table table {
        font-size: .6rem;

    }

    .bmi-para {
        display: none;
    }

    .bmi-para-2 {
        display: block;
    }

    .bmi-input-fild {
        width: 100%;
        margin: 0;
        margin-top: 5%;
    }

    .bmi-input-fild h2 {
        font-size: 1rem;
    }

    .bmi-input-fild p {
        font-size: .5rem;
    }

    .bmi-input-fild input {
        max-width: 35%;
    }
    .team-section{
        max-width: 90%;
        margin: 0 auto;
    }
    .image-section1,
    .image-section2{
        grid-template-columns: 1fr;
    }
    .traning-card1,
    .traning-card2,
    .traning-card3,
    .traning-card4,
    .traning-card5,
    .traning-card6{
        margin-left: 3%;
    }
}